ion-item{
    border-radius: 20px;
    margin: 5px;
    --background: linear-gradient(to right, #EA9010,#bea785, #ddb364);;
}

.linea-separacion {
    border-top: 3px solid #EA9010;
    margin: 2px 0; 
    margin:10px ;
}
.foto{
    color: #EA9010  ;
    font-size: 60px;
    position: absolute; 
    top: 110px;
    left: 30px; 
    z-index: 999;
} 
.jiju{
  
    transform: rotate(180deg);
  }
.tito{
    text-align: center;
}