.jiju{
  
  transform: rotate(180deg);
}
.cam{
  
  font-size: 50px;
 
}
.you{
  border-radius: 50px;
  --background:#EA9010;
}
.vvv{
  margin: 10px;
}
.pop{
  margin: 10px;
}
.foto{
  color: #EA9010  ;
  font-size: 80px;
  position: absolute; 
  top: 120px;
  left: 70px; 
  z-index: 999;
}    
.linea-separacion {
  border-top: 3px solid #EA9010;
  margin: 2px 0; 
  margin:10px ;
}
.new{
  --background: #EA9010;
  width: 100px;
  height: 100px;
  --border-radius: 50%;
  position: absolute; 
  top: 775px;
  left: 160px;        
 
}






