.linea-separacion {
  border-top: 3px solid #EA9010;
  margin: 2px 0; 
  margin:10px ;
}

  .music{
    margin-left: 30px;
    margin: 10px;
  }

  .upa{
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

  .pid{
    text-align: center;
    font-size: 30px;
  }

  .kiko{
    height: 175px;
   
  }
  .nik{
    height: 175px;
    width:310px ;
  }
  .nacho{
    height: 220px;
    width: 350px;
  }
  .vvv{
    background: rgb(219, 230, 230);
  }

  .vv{
    background: rgb(219, 230, 230);
  }
  .foto{
    color: #EA9010  ;
    font-size: 80px;
    position: absolute; 
    top: 120px;
    left: 70px; 
    z-index: 999;
    }

    .jiju{
  
      transform: rotate(180deg);
    }