


<img src="../../assets/icon/abajoclaro.png" class="jiju">
<h1 class="foto" >MUSIC</h1>
<div class="linea-separacion"></div>
<ion-content>
  
    <ion-card class="vv">
      <h2 class="upa">Desesperado</h2>
      <ion-card class="kiko">
        <img src="../../assets/Img-mus/b57162a7bb8a2398a40af4ae3f84f838.jpg">
      </ion-card>
      <audio controls class="music">
        <source src="../../assets/Music/AndrésCepeda-Desesperado(OfficialVideo)_213.m4a" type="audio/mpeg">
      </audio>
    <br>
    </ion-card >


    <ion-card class="vv">
      <h2 class="upa">Tu No Vive Asi</h2>
      <ion-card class="kiko">
        <img src="../../assets/Img-mus/3.jpg">
      </ion-card>
      <audio controls class="music">
        <source src="../../assets/Music/ArcangelxBadBunnyXDjLuianXMamboKingz-TuNoViveAsi[Videooficial]_255.m4a" type="audio/mpeg">
      </audio>
    </ion-card>

    <ion-card class="vv">  
      <h2 class="upa">Yonaguni</h2>
      <ion-card class="kiko">
        <img src="../../assets/Img-mus/4.1">
      </ion-card>
      <audio controls class="music">
        <source src="../../assets/Music/BadBunny-Yonaguni(VideoOficial)_250.m4a" type="audio/mpeg">
      </audio>
    </ion-card>

    <ion-card class="vv">
      <h2 class="upa">Tutu</h2>
      <ion-card class="kiko">
        <img src="../../assets/Img-mus/5.jpg">
      </ion-card>
      <audio controls class="music">
        <source src="../../assets/Music/Camilo,PedroCapó-Tutu(OfficialVideo)_65.m4a" type="audio/mpeg">
      </audio>
    </ion-card>


    <ion-card class="vv">
      <h2 class="upa">Es Epico</h2>
      <ion-card class="kiko">
        <img src="../../assets/Img-mus/7.jpg">
      </ion-card>
      <audio controls class="music">
        <source src="../../assets/Music/Canserbero-EsÉpico(VídeoAnimación)_127.m4a" type="audio/mpeg">
      </audio>
    </ion-card>
  




