<img src="../../assets/icon/abajoclaro.png" class="jiju">

<ion-content>
  <ion-row>
    <ion-col size="6">
      <ion-card class="cam">
        <ion-card-header>
          <ion-button [routerLink]="['/camara']" fill="clear" class="boton">
            <ion-icon class="mm" name="camera-outline"></ion-icon>
          </ion-button>
        </ion-card-header>
        <ion-card-content class="uff">
          Camara
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="cam">
        <ion-card-header>
          <ion-button [routerLink]="['/audvid']" fill="clear" class="boton">
            <ion-icon class="mm" name="musical-notes-outline"></ion-icon>
          </ion-button>
        </ion-card-header>
        <ion-card-content class="uff">
          Music
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
   
  <ion-row>
    <ion-col size="6">
      <ion-card class="cam">
        <ion-card-header>
          <ion-button [routerLink]="['/registro']" fill="clear" class="boton">
            <ion-icon class="mm" name="create-outline"></ion-icon>
          </ion-button>
        </ion-card-header>
        <ion-card-content  class="uff">
          Registro
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="cam">
        <ion-card-header>
          <ion-button [routerLink]="['/contenido']" fill="clear" class="boton">
            <ion-icon class="mm" name="document-text-outline"></ion-icon>
          </ion-button>
        </ion-card-header>
        <ion-card-content class="uff">
          contenido
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row> 

</ion-content>

<img src="../../assets/icon/abajoclaro.png" class="jiji">




