

.mm{
  font-size: 52px;
}

.cam{
  height: 170px;
  border: 2px solid #dabc92;
  
}

.uff{
  text-align: center;
  font-size: 30px;
}

.jiji{
  height: 200px;
  width: 450px;
}
.jiju{
  height: 200px;
  width: 450px;
  transform: rotate(180deg);
}
